body{
    margin: 0;
    font-family: sans-serif;
    background: #fff;
}

h1{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    color: brown;
}

a{
    text-decoration: none;

}
.gallery2{
    display: flex;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    width: 100%;
position: relative;
top: -450px;
left: -950px;
    justify-content:end;
    margin: 50px 0;
    cursor: pointer;
}

.content{
    width: 20%;
    margin:15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);*/
    transition: 0.4s;
    background: #fff;
}


img{
    width: 248px;
    height: 210px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0;
}

h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;

}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
li{
    padding-top: 5px;

}

.fa{
    font-size: 26px;
    transition: 0.4s;
    margin: 3px;
}

.checked{
    color:#ff9f43;
}

.fa:hover{
    transform: scale(1.3);
    transition: 0.6s;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buy{
    background: brown;
}

@media(max-width:750px){
    .content{
        width: 100%;
    }
}


.gallery3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;
position: relative;
top: -2410px;
left: -500px;
    justify-content:end;
    margin: 50px 0;
}

.gallery4{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
position: relative;
top: -4380px;
cursor: pointer;
left: -50px;
    justify-content:end;
    margin: 50px 0;
}
